.g-footer-wrap{width:100%;background-color:#fff;font-size:14px;border-top: 1px solid #f5f5f5;min-width: 1280px;}
/* background:url(http://img.bc.haodanku.com/haodanku/1595907826) no-repeat; */
.g-footer-wrap .footer-content{width:1200px;margin:0 auto;padding:40px 0 0 0}
.g-footer-wrap .footer-content .footer-top{display:flex;margin-bottom: 20px;}
.footer-content .footer-top .logo{width:180px;margin-right:64px;display:flex;flex-direction:column;align-items:center}
.footer-content .footer-top .logo img{width:70px}
.footer-content .footer-top .logo .logo-title{margin:8px 0 10px 0;font-size:31px;font-family:HYZhengYuan;font-weight:400;color:#fff;background:linear-gradient(0deg,#4d76ff 0,#579aff 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.footer-content .footer-top .logo .logo-explain{width:182px;text-align:center;height:32px;line-height:32px;font-size:12px;font-family:PingFang SC;font-weight:400;color:#4e78ff;border-top:1px solid #e2e9ff;border-bottom:1px solid #e2e9ff}
.footer-content .footer-top .nav{margin:9px 68px 0 68px;display:flex;width:572px;flex-shrink:0}
.footer-content .footer-top .nav dl{margin-right:90px;font-family:PingFang SC}
.footer-content .footer-top .nav dl:last-child{margin-right:0}
.footer-content .footer-top .nav dl dt{color:#4e78ff;font-size:16px;font-weight:500;margin-bottom:25px}
.footer-content .footer-top .nav dl dd{font-weight:400;margin-bottom:18px}
.footer-content .footer-top .nav dl a{color:#999}
.footer-content .footer-top .nav dl a:hover{color:#1d5ddd}
.footer-content .footer-top .line{margin-top:18px;width:1px;height:122px;background:#bac5f9;opacity:.3}
.footer-codewrap{margin-left:50px;position:relative}
.footer-code-com{width:38px;height:36px;background-repeat:no-repeat;background-size:auto;background-image:url(https://img.bc.haodanku.com/haodanku/1653637301);background-position:0 -1px;margin-bottom:8px}
.footer-code-accounts{background-position:0 -110px}
.footer-code-applet{background-position:0 -181px}
.footer-code-assistant{background-position: 0 -254px;}
.footer-accountscode{display:none}
.footer-codewrap.active0 .footer-code-app{background-position:0 -2px}
.footer-codewrap.active1 .footer-code-accounts{background-position:0 -74px;}
.footer-codewrap.active1 .footer-code-app,.footer-codewrap.active3 .footer-code-app{background-position:0 -38px}
.footer-codewrap.active1 .footer-code-applet{background-position:0 -181px}
.footer-codewrap.active2 .footer-code-applet{background-position:0 -145px}
.footer-codewrap.active2 .footer-code-accounts{background-position:0 -110px}
.footer-codewrap.active2 .footer-code-app{background-position:0 -38px}
.footer-codewrap.active3 .footer-code-assistant{background-position: 0 -218px;}
.footer-codewrap.active0 .footer-appcode,.footer-codewrap.active1 .footer-accountscode,.footer-codewrap.active2 .footer-appletcode,.footer-codewrap.active3 .footer-assistantcode{display:block}
.footer-code{position:absolute;top:10px;left:54px;display:none}
.footer-code img{width:110px;margin: 0 auto;display: block;max-width: initial;}
.footer-code-box{
  box-shadow: 0 5px 15px 0px rgb(0 0 0 / 10%);
  padding: 10px;
  border-radius: 3px;
}
.footer-code p{text-align:center;margin-top:14px;font-size:12px;font-family:PingFang SC;font-weight:400;color:#999}
.footer-content .footer-center{display:flex;justify-content:flex-end;width:100%;height:60px;padding:9px 226px 0 0;border:1px solid #e5e8ff;border-radius:10px;background:rgba(241,244,255,.5)}
.footer-content .footer-center .center-api p{text-align:right;font-family:PingFang SC;z-index:2}
.footer-content .footer-center .center-api .center-title{font-size:16px;font-weight:500;color:#4e78ff;margin-bottom:3px}
.footer-content .footer-center .center-api .center-text{font-size:12px;font-weight:400;color:#666;margin-right:-9px}
.footer-content .footer-center .line{width:1px;height:34px;margin:3px 20px;background:#e6e9fb}
.footer-content .footer-center .center-btn a{display:block;width:115px;height:40px;font-size:16px;font-family:PingFang SC;font-weight:500;color:#fff;background:linear-gradient(-90deg,#4e77ff,#599efd);box-shadow:0 5px 5px 0 rgba(79,121,255,.2);border-radius:20px;transition:all .2s ease-in-out;text-align:center;line-height:40px}
.footer-content .footer-center .center-btn a:hover{opacity:.8;transform:translateY(-4px)}
.footer-content .footer-copy{width:100%;color:#999;font-size:12px;font-family:PingFang SC;font-weight:400;display:flex;align-items:center;justify-content:center;margin-top: 20px;padding-bottom: 20px;}
.footer-content .footer-copy span{color:#ccc}
.footer-content .footer-copy img{width:58px;height:20px;vertical-align:middle}
.footer-content .footer-copy .footer-yicpb{color: #999;}
